/* Import fonts from fonts.css file*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Import variables*/
@import url(./variables/variables.css);


body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    color: #212529;
}

/* TEXT */

h1 {
    font-family: "Montserrat";
    font-size: 70px;
    font-weight: 800;
    color: #fff;
}

h2 {
    font-family: "Lato";
    font-size: 50px;
    font-weight: 900;
}

h3 {
    color: #fff;

}

p {
    font-size: 22px;
}

.card-text {
    color: #212529;
    font-size: 18px;
}

/* END TEXT */

/* NAVIGATION */

.header-area {
    background-color: #151515;
}

/* LANDING AREA */

.landing-hola {
    padding-top: 350px;
    background: linear-gradient(#212529, #4831d4);
}

.hola-mundo {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.icon-mundo {
    color: #35BD96;
}

.cont-bio-profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-color {
    color: #35BD96;
}

.text-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.btn-landing {
    padding-bottom: 300px;
    text-align: center;
}

.btn-landing-color {
    text-decoration: none;
    background: #35BD96;
    border: #35BD96;
    color: #fff;
    padding: 1rem 2.5rem;
    font-weight: 300;
    font-size: 1.2rem;
}

.btn-landing-color:hover {
    background: #fff;
    color: #4831d4;
    border: #fff solid;
}


/* END LANDING AREA */

/* ABOUT */

.about-area {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(140deg, #35BD96, #4831d4);
    color: #fff;
    padding: 300px 0;
    text-align: left;
}

.about-zone {
    padding: 0 50px 0 150px;
}

.about-title {
    font-size: 40px;
    font-weight: 900;
}

.toolkit {
    font-size: 40px;
    font-weight: 900;
}

.work-philosophy {
    padding: 50px 150px 0 150px;
}

/* END ABOUT */

/* PORTFOLIO AREA */

.github-portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #4831d4;
    padding: 100px 0 20px 0;
    text-align: center;
}

.portfolio-title {
    font-size: 50px;
    font-weight: 900;
}

.portfolio-text {
    padding-bottom: 20px;
}

.portfolio-img-cont {
    background-color: #fff;
    padding: 0 0 40px 100px;
}

.portfolio-img-div {
    text-align: end;
}

.portfolio-img {
    max-width: 80%;
}

.portfolio-col {
    color: #4831d4;
    padding: 100px 0 0 50px;
}

.portfolio-visit {
    background-color: #fff;
    padding: 60px 0 0 0;
}

.btn-portfolio {
    background-color: #35BD96;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: 1.5rem;
    border: #35BD96 solid;
    text-decoration: none;
}

.btn-portfolio:hover {
    background-color: #fff;
    color: #4831d4;
    border: #fff solid;
}

.portfolio-test {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
}

.portfolio-col-1 {
    background-image: url(/img/brightlab-cover-blue.png);
    background-position: center;
    background-size: cover;
    background-color: #35BD96;
    padding: 300px 20px 40px 20px;
    border-radius: 10px;
    margin: 20px auto;
}

.portfolio-col-2 {
    background-image: url(/img/Kidobit-ppl.png);
    background-position: center;
    background-size: cover;
    background-color: #35BD96;
    padding: 300px 20px 40px 20px;
    border-radius: 10px;
    margin: 20px auto;
}

.highlight {
    background-color: #fff;
    color: #4831d4;
    opacity: .9;
}

.repository-visit {
    background-color: #fff;
    padding: 60px 0 0 0;
}

.btn-repo {
    background-color: #35BD96;
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 1.5rem;
    border: #35BD96 solid;
    text-decoration: none;
}

.btn-repo:hover {
    background-color: #4831d4;
    color: #35BD96;
    border: #4831d4 solid;
}

/* END PORTFOLIO AREA */

/* WORKING ON AREA */

.personal-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 100px 100px 100px;
    background-color: #fff;
    color: #4831d4;
}

.icons-interests {
    font-size: 40px;
}

/* END WORKING ON AREA */

/* FOOTER AREA */

.footer-area {
    text-align: center;
    padding: 50px 0 50px 0;
    background-color: #212529;
    color: #fff;
}

.contact-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 20px;
}

.email-click {
    color: #fff;
    font-size: 25px;
}

.email-click:hover {
    color: #4831d4;
}

.social-media-links {
    color: #4831d4;
}

.social-media-links:hover {
    color: #35BD96;
}

.fa-instagram {
    margin: 5px;
}

.fa-github {
    margin: 5px;
}

.fa-linkedin {
    margin: 5px;
}

.btn-cv-area {
    padding: 40px 0;
}

.btn-cv {
    background-color: #35BD96;
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
    padding: 1rem;
    border: #35BD96 solid;
    text-decoration: none;
}

.btn-cv:hover {
    background-color: #4831d4;
    color: #35BD96;
    border: #4831d4 solid;
}

.footer-dev {
    font-size: 16px;
    color: #fff;
    padding: 50px 0 0 0;
}


/* MEDIA QUERIES */

@media (max-width: 1140px) {
    h1 {
    font-size: 50px; 
    }

    .landing-hola {
        padding-top: 180px;
        text-align: center;
    }

    .btn-landing {
        padding-bottom: 120px;
    }

    .cont-bio-profile {
        padding-bottom: 10px;
    }

    .about-area {
        padding: 80px 0;
    }

    .toolkit-area {
        padding-left: 30px;
    }

    .work-philosophy {
        padding: 20px 0 20px 20px;
    }

    .portfolio-test {
        padding: 0 10px;
    }

    .portfolio-col-1 {
        font-size: 1rem;
        padding: 100px 20px 20px 20px;
    }

    .portfolio-col-2 {
        font-size: 1rem;
        padding: 100px 20px 20px 20px;
    }

    .btn-portfolio {
        font-size: 1rem;
        padding: 1rem;
    }

    .personal-projects {
        padding: 20px 0 60px 0;
    }

    .btn-repo {
        padding: 1rem;
    }

    .about-zone {
        padding: 0 5% 0 5%;
    }
    .email-click {
        font-size: 16px;
    }
}
