html, body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */

:root {
    --primary-color: #fff;
    --primary-color2: #ec415d;
    --border-color: #000;

    /* Font */
    --roboto: 'Roboto';
}